@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Noto+Sans&family=Open+Sans:wght@300&family=Righteous&family=Roboto:ital,wght@1,300&display=swap");
body {
  background-color: #03103c;
  color: #f5ebeb;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Noto Sans", sans-serif;
  font-size: 150%;
}
header .buttonA {
  padding: 30px 40px;
}
nav {
  margin-left: 40%;
}
nav .menu {
  display: flex;
  gap: 35px;
}
nav .mobile-menu {
  cursor: pointer;
  display: none;
}
nav .mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
main {
  display: flex;
  padding-left: 10%;
}
img {
  width: 100%;
  height: 100%;
}
.content {
  font-family: "Kanit", sans-serif;
  font-size: 150%;
  max-width: 40%;
}

.buttons {
  display: flex;
  gap: 5%;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1a1d60;
  width: 500px;
  padding: 1px;
  border-radius: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 140%;
  margin-top: 8%;
  margin-left: 10%;
}
.textA {
  color: #55d1dc;
}
.textB {
  font-family: "Roboto", sans-serif;
  color: #8d9fd1;
}

.buttonA {
  font-size: 85%;
  border-radius: 8px;
  padding: 20px 25px;
  background: #609cf1;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: unset;
  border-style: none;
}
.buttonB {
  font-size: 85%;
  border-radius: 8px;
  padding: 20px 25px;
  background: #03103c;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #ffffff;
  cursor: pointer;
  outline: unset;
}
.images {
  display: flex;
  position: relative;
  width: 30vw;
  height: auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-color: #03103c;
}

@media (max-width: 1920px) {
  header {
    font-size: 100%;
  }
  header .buttonA {
    padding: 25px 30px;
  }
  .content {
    font-size: 100%;
    max-width: 50%;
  }
  .banner {
    width: 300px;
    font-size: 100%;
  }
  .images {
    width: 25vw;
    height: auto;
  }
  .buttons {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  header {
    font-size: 90%;
  }
  nav {
    margin-left: 5%;
  }
  header .buttonA {
    padding: 22px;
  }

  main {
    padding-left: 5%;
  }
  .banner {
    margin-left: 5%;
    width: 250px;
    font-size: 90%;
  }
  .content {
    font-size: 90%;
    max-width: 60%;
  }
  .images {
    width: 30vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  main{
    flex-direction: column;
    align-items:center;
  }
  nav{
    margin-left: 50%;
  }
  nav .menu {
    display: none;
  }
  nav .mobile-menu {
    display: block;
  }
  .content {
    font-size: 80%;
    max-width: 75%;
  }
  .banner {
    width: 200px;
    font-size: 75%;
  }
  .buttons {
    justify-content: center;
    font-size: 80%;
  }
  .images {
    order:-1;
    width: 40vw;
    height: auto;
  }
}
@media (max-width: 425px) {
  header h1 {
    font-size: 150%;
  }
  nav{
    margin-left: 20%;
  }
  main {
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
    max-width: 90%;
  }
  .banner {
    width: 170px;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 70%;
  }
  .images {
    width: 60vw;
    order: -1;
  }
  .content {
    max-width: 85%;
    font-size: 80%;
  }
  .buttons {
    justify-content: center;
  }
}
